#!/bin/sh

# Under GPL v2

[ -x /etc/vnc/xstartup ] && exec /etc/vnc/xstartup
[ -r $HOME/.Xresources ] && xrdb $HOME/.Xresources

# Run laghu IDE in an infinite loop
# as we don't want a zombie empty screen
while [ 1 ]; do laghu; done

#TODO: Kill session on laghu exit instead of infinite loop
